// Variables:root {

//Fonts
$font-notosan:            'Noto Sans', sans-serif;
//
$font-weight-light:       300;
$font-weight-regular:     400;
$font-weight-nomal:       500;
$font-weight-semibold:    600;
$font-weight-bold:        700;
$font-weight-extrabold:   800;

$font-icon-spos:          'spos';
//$font-icon-awesome:       'FontAwesome';

// Font Size:
$font-size-08: 0.5rem;
$font-size-10: 0.625rem;
$font-size-11: 0.6875rem;
$font-size-12: 0.75rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-15: 0.9375rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.357rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-28: 1.75rem;
$font-size-30: 1.875rem;
$font-size-32: 2rem;
$font-size-38: 2.375rem;
$font-size-40: 2.5rem;
$font-size-42: 2.625rem;
$font-size-46: 2.875rem;
$font-size-56: 3.5rem;
$font-size-58: 3.625rem;
$font-size-60: 3.75rem;


// z-index
$z-index-header: 900;
$z-index-toast: 999;
$z-index-menu: 901;
$z-index-loading: 9999;
$z-index-product-tag: 9;
