// Variables
// ======================================================
// Colors
// ======================================================

$cl-primary: #5556EE;
$cl-danger: #d9534f;
$cl-white: #fff;
$cl-dark: #40414b;
$cl-light: #d8d8d8;
$cl-black: #262626;
$cl-black-2: #000;
// $cl-gray: #666;
$cl-gray-2: #999;
$cl-gray-3: #9b9b9b;
$cl-gray-4: #22333D;
$cl-light-gray: #f9f9f9;
$cl-light-gray-2: #cacaca;
$cl-light-gray-3: #eee;
$cl-light-green: #88e18e;
$cl-fresh-green: #37cc41;
$cl-green-2: #4BC498;
$cl-orange: #ff9546;
$cl-select: #516a7b;
$cl-select-2: #2F4858;
$cl-violet-primary: #4C4FBA;

$cl-text-primary: #30317F;
$cl-text-secondary: #ccc;

$background-modal: rgba(0,0,0, 0.4);

$border-radius: 2px;


//Fonts
$font-notosan:            'Noto Sans', sans-serif;
//
$font-weight-light:       300;
$font-weight-regular:     400;
$font-weight-nomal:       500;
$font-weight-semibold:    600;
$font-weight-bold:        700;
$font-weight-extrabold:   800;

$font-icon-spos:          'spos';
//$font-icon-awesome:       'FontAwesome';

// Font Size:
$font-size-08: 0.5rem;
$font-size-10: 0.625rem;
$font-size-11: 0.6875rem;
$font-size-12: 0.75rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-15: 0.9375rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.357rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-28: 1.75rem;
$font-size-30: 1.875rem;
$font-size-32: 2rem;
$font-size-38: 2.375rem;
$font-size-40: 2.5rem;
$font-size-42: 2.625rem;
$font-size-46: 2.875rem;
$font-size-56: 3.5rem;
$font-size-58: 3.625rem;
$font-size-60: 3.75rem;


// z-index
$z-index-header: 900;
$z-index-toast: 999;
$z-index-menu: 901;
$z-index-loading: 9999;
$z-index-product-tag: 9;

$breakpoints: (
  'small':  ( min-width:  767px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px )
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1366px
);